{
    "tool_home" : "where you installed this tool using install.sh",
    "source_id" : unique data source ID,
    "structures": [list of structure IDs to retrieve],
    "tmp_dir": "directory to be used for staging downloads of structure data",
    "snapshot_dir": "directory where snapshots should be stored",
    "token_id": EveKit ESI token ID
}
